//logo
.logo{
  height: 3.25rem;

  margin-left: 1.2rem;
}

//search
.search{
  flex:0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input{
    width: 90%;
    border:none;
    padding:0.7rem 2rem;

    font-size: inherit;
    color: inherit;


    background-color: var(--color-Grey-light-2);

    border-radius: 10rem;
    transition:all 0.3s;

    &:focus{
      background-color: var(--color-Grey-light-3);

      outline:none;
      width: 100%;
    }

    &::-webkit-input-placeholder{
      font-weight: 100;
      color: var(--color-Grey-light-4);
    }
  }

  &__input:focus + &__button {
      background-color: var(--color-Grey-light-3);
  }

  &__input:focus + &__button &__icon {
    fill: var(--primary-color-dark);
    transform: scale(1.3) rotate(360deg);

  }

  &__button{
    margin-left: -3.5rem;
    border:none;
    background-color: var(--color-Grey-light-2);
    outline: none;

  }

  &__icon{
    height: 2rem;
    width: 2rem;
    fill: var(--color-Grey-dark-3);
    transition:all 0.4s;

  }
}

//user notification
.user-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;



  &>*{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
    transition:all 0.2s;

  }

  &>*:hover{
    background-color: var(--color-Grey-light-3);
    transform: translateY(0.1rem);
    border-radius: 2px;

  }
  &__icon-box{
    position: relative;
  }
  &__icon{
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-Grey-dark-2);
  }
  &__notification{
    position: absolute;
    top: 10%;
    right: 20%;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    height: 1.65rem;
    width: 1.65rem;
    color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__user{}
  &__user-photo{
    height: 3.6rem;
    border-radius: 50%;
    margin-right: 1rem;

  }
  &__user-name{
    font-size: 1.2rem;
    font-weight: 600;
  }
}