.container {
  min-height: 80vh;
  max-width: 70vw;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-1);
  box-shadow: var(--shadow-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 5rem;
  background-color: #fff;
  border-bottom: var(--line);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail{
  font-size: 1.3rem;
  display:flex;
  background-color: var(--color-Grey-light-1);
  padding:4.5rem

}
.description{
  flex: 0 1 60%;
  background-color: #fff;
  padding:3rem;

  box-shadow: var(--shadow-light);

}
.user-reviews{
  margin-left: 4.5rem;
  flex:1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
