.container {
  min-height: 50vh;
  //max-width: 90vw;
  margin: 8rem 5vw;
  background-color: var(--color-Grey-light-1);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest){
    background-color: var(--color-Grey-light-1);
    margin: 8rem .1vw;

  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 5rem;
  background-color: #fff;
  border-bottom: var(--line);
}

.content {
  display: flex;
  @media only screen and (max-width: $bp-medium){
    flex-direction: column;

  }
}

.sidebar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail{
  font-size: 1.4rem;
  display:flex;
  background-color: var(--color-Grey-light-1);
  padding:4.5rem;
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium){
    padding:3rem;
  }

}
.description{
  flex: 0 0 60%;
  background-color: #fff;
  padding:3rem;

  box-shadow: var(--shadow-light);

  margin-right: 4.5rem;
  @media only screen and (max-width: $bp-medium){
    padding:2rem;
    margin-right: 3rem;


  }

}
.user-reviews{
  flex:1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
